@import "reset.css";

:root {
  /* 背景色 */
  --bg-dark-base: #161618; /* 基础背景色 ，最深*/
  --bg-dark-light: #202127; /* 最浅的背景色，用于浮窗、提示等*/
  --bg-dark-normal: #1b1b1f; /* 大范围的容器背景色*/
  /* 文字色 */
  --font-color-normal: #dfdfd6; /*通用的文字颜色*/
  --font-color-title: #98989f; /*辅助性的文字*/
  --font-color-active: #9499ff; /*激活的文字*/
}

/* 圆角、通用背景色的块 */
.radius-container {
  background-color: var(--bg-dark-normal);
  overflow: hidden;
  border-radius: 10px;
}

.full-block {
  width: 100%;
  height: 100%;
}
